.footerdiv{
    background-color: #0e0a26;
    padding: 5rem;
    margin-top: 45rem;
}
.footerlinks{
    color:white
}
.copyrighttext{
    color:gray
}
ul {
    list-style: none;
    display: inline-flex;
}
li{
    margin: 1rem;
}
.fa{
    margin: 1rem;
}
.copyrighttext{
    margin: 2rem;
}