.trylink{
    border: 1px solid blue;
    border-radius: 5rem;
    background: blue;
    color: white !important;
}
.navbar-nav {
    width: -webkit-fill-available;
    justify-content: flex-end;
}
.head {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
}