.maindiv {
    margin-top: -8rem;
}
.maindiv_content{
    margin-top: -30rem;
}
.screen1{
    height: 80%;
    margin-top: -20rem;
}
.maindiv_col1{
    margin-top: -3rem;
}
.trylink1{
    border: 1px solid blue;
    border-radius: 5rem;
    background: blue;
    color: white !important;
    padding: 8px 25px;
    margin-right: 2rem;
}
.trusted {

    display: flex;
    justify-content: space-evenly;
}
.seconddivhead{
    margin-top: -400px;
}
.screen2{
    height: 18%;
}
/* .screen2_1{
    margin-top: -25rem;
} */
.features{
    margin-top: 8rem;
}
.screen2{
    margin-left: -30rem;
    margin-top: -4rem;
    transform: rotate(-20deg);
}
.screen5{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 8rem;
}

.maindiv_col1{
    text-align: left;
    margin-left: 200px;
}
.maindiv_col1 h6 {
    margin-bottom: 35px;
}
.choice {
    display: flex;
    border-radius: 60px;
    width: fit-content;
    align-items: center;
    text-align: left;
    margin: 10px 0px;
    background-color: #ccd1d1;
}
.choice p{
    padding: 2px 40px 2px 6px;
    font-size: 20px;
    margin: 0;
}
.choice img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
}
.watch {
    color: blue ;
}

.risecol {
    border-left: 1px solid #000;
    height: fit-content;
    padding: 25px;
    margin-top: 150px;

}
.jackcol1 {
    margin-top: 150px;
}