.maindiv {
    margin-top: -8rem;
}
.maindiv_content{
    margin-top: -30rem;
}
.screen1{
    height: 50%;
    margin-top: -20rem;
}
.maindiv_col1{
    margin-top: -3rem;
}
.trylink1{
    border: 1px solid blue;
    border-radius: 5rem;
    background: blue;
    color: white !important;
    padding: 0.5rem;
    margin-right: 2rem;
}
.trusted {
    display: flex;
    justify-content: space-evenly;
}
.seconddivhead{
    margin-top: -45rem;
}
.screen2{
    height: 30%;
}
.screen2_1{
    margin-top: -25rem;
}
.features{
    margin-top: 8rem;
}